/*=reset*/
*{
margin:0;
padding:0;
list-style-type:none;
text-decoration:none;
}
/*=genneral*/
body{
font-size:12px;
font-family:Tahoma;
color:#666;
background:#fbfbfb url(../images/bodyBg.gif) repeat-x;
}
a{
outline:none;
}
a:hover{
text-decoration:underline
}
img{
border:0;
}
.clear{
clear:both;
}
#container{
width:930px;
margin:0 auto;
}
/*=top*/
ul#top{
overflow:hidden;
}
ul#top li{
float:right;
padding-right:2px;
background:url(../images/topLine.gif) no-repeat right center;
}
#top #topEnd{
background-image:none;
}
#top a{
display:block;
padding:0 10px;
font:12px/30px Tahoma;
color:#999;
}
/*=header*/
#header{
padding:7px 8px 8px 3px;
height:79px;
overflow:hidden;
}
#logo{
float:left;
width:350px;
height:69px;
text-indent:-9999px;
background:url(../images/logo.gif) left center no-repeat;
}
#header ul,#header form,#header li{
float:right;
}
#header ul{
margin-top:17px;
}
#header li{
padding-left:16px;
background:url(../images/pat1.gif) no-repeat left center;
}
#header li#forum{
background:url(../images/pat2.gif) no-repeat left center;
}
#header li#userLog{
background:url(../images/pat3.gif) no-repeat left center;
}
#header ul a{
padding:0 6px;
line-height:24px;
color:#999;
}
#header form{
width:410px;
padding-left:20px;
border-top:1px solid #ccc;
}
#header label{
padding:3px 2px 2px 10px;
color:#999;
background:url(../images/pat4.gif) no-repeat left center;
}
#userName,#password{
height:16px;
border:1px solid #d2d1d1;
background:#e2e2e2;
}
#userName{
width:116px;
}
#password{
width:83px;
}
#submit{
position:relative;
top:5px;
}
/*=nav*/
#nav{
height:66px;
overflow:hidden;
margin-left:4px;
background:url(../images/navBg.gif) repeat-x;
}
#nav1{
height:66px;
padding:0 0 0 66px;
font-size:14px;
background:url(../images/navLeft.gif) no-repeat;
position:relative;
overflow:hidden;
}
#nav1 li{
float:left;
height:66px;
}

#nav1 li ul{
display:none;
position:absolute;
}
#nav1 li ul a{
text-indent:0;
}
#nav1 li ul li{
background:none;
padding:0;
margin:0 -5px;
height:21px;
text-align:center;
}
#nav1 a{
display:block;
text-indent:-9999px;
height:39px;
}
#navList1 a{
width:84px;
background:url(../images/nav1.gif) no-repeat;
}
#navList1 a:hover{
background:url(../images/nav1Hover.gif) no-repeat;
}
#navList2 a{
width:111px;
background:url(../images/nav2.gif) no-repeat;
}
#navList2 a:hover{
background:url(../images/nav2Hover.gif) no-repeat;
}
#navList3 a{
width:108px;
background:url(../images/nav3.gif) no-repeat;
}
#navList3 a:hover{
background:url(../images/nav3Hover.gif) no-repeat;
}
#navList4 a{
width:103px;
background:url(../images/nav4.gif) no-repeat;
}
#navList4 a:hover{
background:url(../images/nav4Hover.gif) no-repeat;
}
#navList5 a{
width:110px;
background:url(../images/nav5.gif) no-repeat;
}
#navList5 a:hover{
background:url(../images/nav5Hover.gif) no-repeat;
}

#nav1 li#navList2 ul a,#nav1 li#navList3 ul a{
width:80px;
height:21px;
padding:0px;
text-indent:inherit;
font-size:12px;
font-weight:normal;
line-height:18px;
color:#7b8070;
display:block;
background:none;
}

#nav1 li#navList2 ul li a:hover,#nav1 li#navList3 ul li a:hover{
text-decoration:none;
background:url(../images/navSubBg.gif) center top no-repeat;
}
#nav1 #chat{
float:right;
padding-left:30px;
background:url(../images/chatIcon.gif) no-repeat left 8px;
}
#chat a{
display:block;
width:139px;
background:url(../images/chatBg.gif) no-repeat;
}
#nav #navRight{
float:right;
padding-right:16px;
margin-left:-2px;
font-size:14px;
line-height:39px;
color:#ffcc66;
background:url(../images/navRight.gif) no-repeat right;
}
/*=banner*/
#banner{
height:170px;
margin-top:10px;
overflow:hidden;
}
/*=main*/
#mainContainer{
width:921px;
overflow:hidden;
background:url(../images/mainBgY.gif) repeat-y;
}
#main{
width:907px;
margin:0 2px;
padding:40px 0 40px 10px;
background:#efefef url(../images/mainBgX.gif) repeat-x;
}
/*=content*/
.content{
width:601px;
overflow:hidden;
background:#FFF;
border:1px solid #E7E7E7;
border-width:0 1px;
}
.contentBottom{
width:603px;
height:6px;
background:url(../images/contentBottom.gif) no-repeat;
font-size:0;
}
/*=siderbar*/
#sidebar{
float:right;
width:286px;
padding-bottom:30px;
}
#sidebar h2{
height:28px;
width:276px;
margin:5px 0 13px;
text-indent:-9999px;
}
/*=searchBox*/
#searchBox{
width:276px;
padding-top:5px;
background:url(../images/searchTopBg.gif) no-repeat top ;
}
#searchBottom{
height:6px;
font-size:0;
background: url(../images/searchEnd.gif) no-repeat;
}
#searchBox form{
padding:3px 9px;
border:1px solid #cc6600;
border-width:0 1px;
background:#ffad47 url(../images/formBg.gif) repeat-x;
}
#searchBox form fieldset{
border:none;
}
#searchBox legend span{
display:block;
height:17px;
width:56px;
text-indent:-9999px;
background:url(../images/searchTittle.gif);
}
#keyWord{
height:21px;
width:181px;
padding:4px 0 0 60px;
margin-bottom:10px;
border:none;
font-size:14px;
color:#666;
background:url(../images/textBg.gif);
}
#searchBox label{
display:block;
overflow:hidden;
float:left;
height:28px;
padding:0 10px;
width:60px;
color:#666;
}
#searchBox label input{
margin-right:5px;
}
#searchBtn{
position:relative;
top:4px;
}
#searchBox a{
margin-left:4px;
line-height:24px;
color:#FFF;
text-decoration:underline;
font-family:"Î¢ÈíÑÅºÚ";
}
/*=ad*/
#ad{
width:286px;
margin:10px 0 15px;
clear:both;
}
#ad a{
width:138px;
height:55px;
margin:2px 0;
}
/*=block*/
#sidebar .block{
padding-top:5px; 
width:277px;
overflow:hidden;
background:url(../images/blockBg.gif) no-repeat;
}
#sidebar .block p{
width:255px;
padding:6px 10px 0 10px;
color:#999;
line-height:20px;
background:#e3e2e2 url(../images/blockPbg.gif) repeat-x;
border:1px solid #ccc;
border-width:0 1px;
}
#blockBottom{
height:6px;
background:url(../images/blockBottom.gif) no-repeat;
font-size:0;
}
/*=contact*/
.contact{
width:921px;
background:url(../images/contactBg.gif) left bottom no-repeat;
}
.accordion{
background:url(../images/contactBgHover.gif) left bottom no-repeat;
}
.contact div{
float:left;
display:none;
width:919px;
height:180px;
margin-top:1px;
background:#eeeeee;
border:#e8e6e6 solid 1px;
border-top:#e7e7e7 solid 1px;
border-bottom:none;
}
.contact form{
margin:40px 0 0 270px;
position:relative;
width:600px;
}
.contact label{
font-size:14px;
font-weight:bold;
color:#99cc33;
display:block;
margin:15px 0;
}
.contact input, .contact textarea{
width:225px;
}
.contact textarea{
height:85px;
margin-top:15px;

}
.contact .message{
display:block;
width:276px;
height:150px;
position:absolute;
top:-15px;
*top:0px;
left:315px;
padding:0;
}
.contact .message label{
float:left;
vertical-align:bottom;
}
.contact input#submit{
width:100px;
clear:both;
float:right;
position: absolute;
top:110px;
right:0;
margin:5px 0 0 0;
}
.contact a{
float:right;
display:block;
width:109px;
height:39px;
text-indent:-9999px;
cursor:pointer;
}
.contact p{
float:left;
color:#999;
line-height:18px;
margin:35px 0 0 20px;
}
.contact p strong{
font-size:24px;
line-height:36px;
}
/*=*footer*/
#footer{
height:54px;
margin:20px 6px 0 5px;
padding-top:4px;
background:url(../images/footerTop.gif) no-repeat top;
}
#footerCon{
height:54px;
padding:0 0 0 10px;
background:url(../images/footerBg.gif) repeat-x;
border:1px solid #669900;
border-width:0px 1px;
}
#footerLinks{
color:#fff;
padding-top:10px;
}
#footerLinks a{
padding:4px 6px 4px 4px;
font-family: "Î¢ÈíÑÅºÚ";
color:#fff;
}
#footer p{
padding-left:4px;
clear:left;
color:#FFF;
}
			






