@charset "utf-8";
/*------------------------------------------------------------------
ADRIAN CHENG Style Sheet for ie6

Verison: 1.0
Date:17/03/2009
autor:Adrian Tsang
Email:div.adrian@gmail.com
Website:http://www.adriancheng.name
--------------------------------------------------------------------*/
.nav a{
	font-variant:normal;}
#portfolioContent,#contactContent, #aboutContent, #favContent{/*= ie6 can't understand min-height*/
	height:1000px;
	padding-top:160px;
}
#home #footer{/*= ie6 can't understand fixed*/
display:none;
}   
.header{
	margin-left:-502px;
	position:absolute;
	top:expression(eval(document.documentElement.scrollTop));
	left:50%;
	top:0;     
	}
#top{
	position:absolute;
	top:expression(eval(document.documentElement.scrollTop));
	top:0;
	background:none;
	background:#000;
	height:20px;
	filter:alpha(opacity=60);
	}

/*------
#top{
		position:absolute;top:expression(eval(document.documentElement.scrollTop));z-index:10;left:0;top:0;  
} */  


/*= fix nav*/

.nav li a{
			width:85px;
			text-align:center;
			padding:5px 0;
		}

.nav a:hover,.nav a.current{width:85px;}
.nav a:hover span,.nav a.current span{width:85px;}
.nav a:hover span{cursor:pointer;}

/*= fix hr ie6以字体大小为最小高度*/
hr{display:none;}
span.line{font-size:2px; margin-top:19px;}

/*= pngfix can't use position*/
.contactForm legend{height:60px;margin:0;padding:0;/* =ie6 can give legend width and height*/	 }
.contactForm legend{ background:url(../images/bg-title-contact.png) no-repeat;}
#aboutContent h2.tittle{background:url(../images/bg-title-about.png) no-repeat;}
#favContent h2.tittle{background:url(../images/bg-title-fav.png) no-repeat;}


/*= ie6 can't understand child selector*/
#portfolioContent div.content  p{
		font-size:18px;
		font-family:Georgia, Times, "Times New Roman", serif;
		line-height:150%;
		text-indent:2em;
		margin:0 0 30px 0;padding:0 10px;
		}

/*= ie6 ul空格bug holly hack fix*/
ul.caseList li{height:1%;}

/* ie6 could't suppose png-24 */
#footer p,#portfolioContent h2.tittle,.casePic span.magnifier, .casePic span.mark,.contactForm legend,#aboutContent h2.tittle,#favContent h2.tittle,p.topBtn a{/*bg*/ behavior:url(iepngfix.htc); }

h1 img{width:436px;height:68px;}
.me{width:121px;height:154px;}
.pdf{width:30px;height:37px;}
h1 img,img.me,img.pdf{/*img*/ behavior:url(iepngfix.htc); }

.nav a,ul.caseList a:hover,ul.caseList a.current,div.pane,form.contactForm{background:#000;}
a.shadow{background:none;}

/* fix slider */
ul.caseList a{width:100%;}

ul.albumList{/* double margin */
			margin-left:30px;
		}


/* i6 a优先级*/
a:visited{text-decoration:none;}
.nav a:visited, #top a:visited, p.topBtn a:visited{text-decoration:none;}


/* i6 不支持子选择器 》*/
.bookList li{
				width:93px;
				margin-right:-6px;
				margin-bottom:5px;
				float:left;
				position:relative;
				cursor:pointer;
				z-index:1;
			}
.bookList li li{
	width:189px;
	margin:0;
	float:none;
	position:static;
	}
	

ul.experience  li{/*----项目经验&实习经历---*/	
		margin:0 0 15px;
		position:relative;
		}	
#occupational ul.experience  li{ margin:0; padding:0 0 15px;}	
ul.experience li ul li{/*----项目经验&实习经历---*/	
		margin:0;
		position:static;
		}
ul.intro li{
		font-size:14px;
    zoom: 1;                     /*IE only*/
    display: inline;        /*Only IE know this code (CSS Hack)*/
	}
ul.experience li ul.description, ul.description p{
			line-height:150%;
			list-style: circle;
			margin:0 0 0 20px;
			display:list-item;
			}
		
		ul.experience p.date{
			position:absolute;
			top:4px;
			left:399px;
			line-height:1.5em;
			list-style: none;
			margin-left:0;
			display:inline;
			}
		#eng ul.experience p.date{left:552px;}
footer q.note{bottom:2px;}			
			
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	zoom: 1;  /*hasLayout fix*/
}

.casePic span.magnifier{ background:none;}