@charset "utf-8";

#nav .blank{
         display:block;
		 float:left;
		 margin-top:-6px;
		 }
.float-left{
          float:left;
		  }		 
#nav img {
          margin-top:-2px;
		  }		 
.margintop-5{
          margin-top:-5px;
		  } 
.more{
         float:right;
		 display:block
		 }  